#!groovy

import jenkins.model.Jenkins

for (plugin in [
  "ansicolor",
  "build-name-setter",
  "copyartifact",
  "credentials-binding",
  "credentials",
  "description-setter",
  "disk-usage",
  "git",
  "global-build-stats",
  "jobConfigHistory",
  "python",
  "nodelabelparameter",
  "parameterized-trigger",
  "rebuild",
  "ssh-slaves",
  "ssh-credentials",
  "simple-theme-plugin",
  "timestamper",
  "ws-cleanup",
])
{
  println "--> insstalling plugin: '" + plugin + "'"
  e = Jenkins.instance.updateCenter.getPlugin(plugin).deploy(true).get().getError()
  if (e != null)
  {
    println e.message
  }
 }
