#!groovy

import jenkins.model.Jenkins

plugins = [
  "active-directory",
  "ansicolor",
  "build-name-setter",
  "build-user-vars-plugin",
  "cloudbees-disk-usage-simple",
  "copyartifact",
  "credentials-binding",
  "credentials",
  "description-setter",
  "disk-usage",
  "git",
  "global-build-stats",
  "jobConfigHistory",
  "matrix-auth",
  "nodelabelparameter",
  "python",
  "parameterized-trigger",
  "rebuild",
  "ssh-slaves",
  "ssh-credentials",
  "simple-theme-plugin",
  "timestamper",
  "ws-cleanup",
]

{% if JENKINS_EXTRA_PLUGINS is defined %}
  {% for plugin in JENKINS_EXTRA_PLUGINS %}
  println "  * Adding extra plugin {{ plugin }}"
  plugins.add("{{ plugin }}")
  {% endfor %}
{% endif %}


for (plugin in plugins)
{
  println "--> installing plugin: '" + plugin + "'"
  e = Jenkins.instance.updateCenter.getPlugin(plugin).deploy(true).get().getError()
  if (e != null)
  {
    println e.message
  }
 }
